<h1 mat-dialog-title>Edit Employee</h1>
<div mat-dialog-content>
    <form [formGroup]="formInstance">
        <div class="container">
            <div class="col-md-12">
                <div class="col-md-3">
                    <mat-form-field class="fullWidth" appearance="outline">
                        <mat-label>Name *</mat-label>
                        <input matInput type="text" name="name" formControlName="name">
                        <mat-error *ngIf="formInstance.controls['name']?.errors?.required">field required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="fullWidth" appearance="outline">
                        <mat-label>Email *</mat-label>
                        <input matInput type="text" name="email" formControlName="email" />
                        <mat-error *ngIf="formInstance.controls['email']?.errors?.required">field required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="fullWidth" appearance="outline">
                        <mat-label>Job Title*</mat-label>
                        <mat-select name="jobtitle" formControlName="jobtitle">
                            <mat-option value="Software Developer">Software Developer</mat-option>
                            <mat-option value="Physician">Physician</mat-option>
                            <mat-option value="Dentist">Dentist</mat-option>
                            <mat-option value="Nurse">Nurse</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formInstance.controls['job']?.errors?.required">field required</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="fullWidth" appearance="outline">
                        <mat-label>Country*</mat-label>
                        <mat-select name="country" formControlName="country">
                            <mat-option value="India">India</mat-option>
                            <mat-option value="USA">USA</mat-option>
                            <mat-option value="UK">UK</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formInstance.controls['country']?.errors?.required">field required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <mat-form-field class="fullWidth" appearance="outline">
                        <mat-label>Salary Q1 *</mat-label>
                        <input matInput type="number" name="salaryq1" formControlName="salaryq1" />
                        <mat-error *ngIf="formInstance.controls['salaryq1']?.errors?.required">field required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="fullWidth" appearance="outline">
                        <mat-label>Salary Q2 *</mat-label>
                        <input matInput type="number" name="salaryq2" formControlName="salaryq2" />
                        <mat-error *ngIf="formInstance.controls['salaryq2']?.errors?.required">field required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="fullWidth" appearance="outline">
                        <mat-label>Salary Q3 *</mat-label>
                        <input matInput type="number" name="salaryq3" formControlName="salaryq3" />
                        <mat-error *ngIf="formInstance.controls['salaryq3']?.errors?.required">field required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="fullWidth" appearance="outline">
                        <mat-label>Salary Q4 *</mat-label>
                        <input matInput type="number" name="salaryq4" formControlName="salaryq4" />
                        <mat-error *ngIf="formInstance.controls['salaryq4']?.errors?.required">field required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    <mat-form-field class="fullWidth" appearance="outline">
                        <mat-label>Working Hours Q1 *</mat-label>
                        <input matInput type="number" name="workinghoursq1" formControlName="workinghoursq1" />
                        <mat-error *ngIf="formInstance.controls['workinghoursq1']?.errors?.required">field required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="fullWidth" appearance="outline">
                        <mat-label>Working Hours Q2 *</mat-label>
                        <input matInput type="number" name="workinghoursq2" formControlName="workinghoursq2" />
                        <mat-error *ngIf="formInstance.controls['workinghoursq2']?.errors?.required">field required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="fullWidth" appearance="outline">
                        <mat-label>Working Hours Q3 *</mat-label>
                        <input matInput type="number" name="workinghoursq3" formControlName="workinghoursq3" />
                        <mat-error *ngIf="formInstance.controls['workinghoursq3']?.errors?.required">field required
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-3">
                    <mat-form-field class="fullWidth" appearance="outline">
                        <mat-label>Working Hours Q4 *</mat-label>
                        <input matInput type="number" name="workinghoursq4" formControlName="workinghoursq4" />
                        <mat-error *ngIf="formInstance.controls['workinghoursq4']?.errors?.required">field required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="mt-5" mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="formInstance.dirty && formInstance.errors" (click)="save()"
        cdkFocusInitial>Yes</button>
    <button mat-raised-button mat-dialog-close>No</button>
</div>